.main-header {
  height: 70px;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(235, 235, 235);

  .header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;

    .logo-group {
      display: flex;
      align-items: center;
      position: relative;
      font-size: 20px;

      .logo-title {
        margin-left: 20px;
        font-size: 20px;

        &::before {
          content: '|';
          position: absolute;
          bottom: 2px;
          left: 28px;
          font-weight: 200;
        }
      }
    }

    .search-group {
      position: relative;
      color: rgb(205, 205, 205);

      i {
        position: absolute;
        top: 50%;
        left: 38%;
        transform: translate(-50%, -50%);
      }

      .search-bar {
        outline: none;
        padding: 5px 20px;
        border: {
          width: 2px;
          style: solid;
          color: rgb(235, 235, 235);
          radius: 4px;
        }
        background-color: rgba(245, 245, 245, 0.8);
        text-align: center;

        &::placeholder {
          color: rgb(205, 205, 205);
          font-weight: 500;
        }
      }
    }

    .nav-group {
      img {
        width: 25px;
      }

      a:nth-child(2),
      a:nth-child(3) {
        margin-left: 20px;
      }
    }
  }
}
