.time-line {
  border: 1px solid rgb(235, 235, 235);
  background-color: #ffffff;

  .post-header {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    .writer-img {
      width: 30px;
      height: 30px;
      background: url('../../../../../assets/images/dahyunKim/author-img.png')
        no-repeat center;
      background-size: cover;
      border-radius: 50%;
    }

    h2 {
      flex: 1;
      margin-left: 10px;
      font-size: 16px;
    }

    button {
      background-color: transparent;
      border: 0;
    }
  }

  .post-img {
    height: 600px;
    background: url('../../../../../assets/images/dahyunKim/post1-img.jpg')
      no-repeat center;
    background-size: cover;
  }

  .post-footer {
    .post-btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      padding: 0 10px;
      font-size: 24px;
      color: rgb(155, 155, 155);

      .btns-likes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 15%;
      }
    }

    .post-comments {
      padding: {
        left: 10px;
        right: 10px;
        bottom: 10px;
      }
    }
  }
}
