.mainApp {
  background-color: rgb(245, 245, 245);

  .main-header {
    height: 70px;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(235, 235, 235);

    .header-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1024px;
      height: 100%;
      margin: 0 auto;
      padding: 0 20px;

      .logo-group {
        display: flex;
        align-items: center;
        position: relative;
        font-size: 20px;

        .logo-title {
          margin-left: 20px;
          font-size: 20px;

          &::before {
            content: '|';
            position: absolute;
            bottom: 2px;
            left: 28px;
            font-weight: 200;
          }
        }
      }

      .search-group {
        position: relative;
        color: rgb(205, 205, 205);

        i {
          position: absolute;
          top: 50%;
          left: 38%;
          transform: translate(-50%, -50%);
        }

        .search-bar {
          outline: none;
          padding: 5px 20px;
          border: {
            width: 2px;
            style: solid;
            color: rgb(235, 235, 235);
            radius: 4px;
          }
          background-color: rgba(245, 245, 245, 0.8);
          text-align: center;

          &::placeholder {
            color: rgb(205, 205, 205);
            font-weight: 500;
          }
        }
      }

      .nav-group {
        img {
          width: 25px;
        }

        a:nth-child(2),
        a:nth-child(3) {
          margin-left: 20px;
        }
      }
    }
  }

  .main-container {
    display: flex;
    max-width: 1024px;
    margin: 40px auto 0;
    padding: 0 30px;

    .main-content {
      flex: 3;
      height: auto;
      border: {
        width: 2px;
        style: solid;
        color: rgb(235, 235, 235);
      }
    }

    aside {
      flex: 1.6;
      margin-left: 30px;

      .user-profile {
        display: flex;
        align-items: center;
        height: 55px;
        padding: 10px;
        background-color: inherit;

        .profile-img {
          width: 35px;
          height: 35px;
          background: url('../../../assets/images/dahyunKim/author-img.png')
            no-repeat center;
          background-size: cover;
          border-radius: 50%;
        }

        .profile-info {
          h2 {
            font-size: 14px;
          }

          p {
            color: rgb(175, 175, 175);
          }
        }
      }

      .story {
        height: 200px;
        margin-bottom: 20px;
        padding: 10px;
        border: {
          width: 2px;
          style: solid;
          color: rgb(235, 235, 235);
        }
        background-color: #ffffff;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          display: none !important;
        }

        .story-header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h2 {
            font-size: 14px;
            color: rgb(175, 175, 175);
          }

          button {
            border: none;
            background-color: transparent;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
          }
        }

        .story-list {
          .updated-users {
            display: flex;
            justify-content: space-between;
            padding-top: 5px;

            .updated-user {
              display: flex;
            }

            .updated-user__img {
              width: 25px;
              height: 25px;
              background: url('../../../assets/images/dahyunKim/author-img.png')
                no-repeat center;
              background-size: cover;
              border-radius: 50%;
            }

            .updated-user__info {
              margin-left: 10px;

              h2 {
                font-size: 14px;
              }

              span {
                font-size: 13px;
                font-weight: 500;
                color: rgb(175, 175, 175);
              }
            }
          }
        }
      }

      .suggestion {
        height: 160px;
        margin-bottom: 20px;
        padding: 10px;
        border: {
          width: 2px;
          style: solid;
          color: rgb(235, 235, 235);
        }
        background-color: #ffffff;

        header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 20px;

          h2 {
            font-size: 14px;
          }

          button {
            border: none;
            background-color: transparent;
            font: {
              size: 14px;
              weight: 500;
            }
            cursor: pointer;
          }
        }

        .suggestion-list {
          .updated-users {
            display: flex;
            justify-content: space-between;
            padding-top: 8px;

            .updated-user {
              display: flex;

              .updated-user__img {
                width: 25px;
                height: 25px;
                background: url('../../../assets/images/dahyunKim/author-img.png')
                  no-repeat center;
                background-size: cover;
                border: {
                  radius: 50%;
                }
              }

              .updated-user__info {
                margin-left: 10px;

                h2 {
                  font-size: 14px;
                }

                span {
                  font-size: 13px;
                  font-weight: 500;
                  color: rgb(175, 175, 175);
                }
              }
            }

            button {
              border: none;
              background-color: transparent;
              font-size: 14px;
              font-weight: 500;
              color: rgb(93, 135, 252);
              cursor: pointer;
            }
          }
        }
      }

      footer a {
        font-size: 14px;
        color: rgb(175, 175, 175);
        text-decoration: none;

        &:not(:last-of-type)::after {
          content: '\00B7';
          margin: 0 4px;
        }
      }
    }
  }
}
